.sorting {
  grid-column: 1;
  text-align: center;
  margin-top: 6%;
}

.sort-button {
  text-align: left;
  border: none;
  background-color: whitesmoke;
  width: 70%;
  height: 15%;
  margin: 1px;
  color: navy;
}

.sort-button:hover {
  background-color: navy;
  color: whitesmoke;
}
