.card {
  grid-column: 2;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 2%;
  width: 90%;
}
p {
  color: gray;
}

h4 {
  color: navy;
}

.card-image {
  width: 60%;
  height: 100%;
}

.card-details {
  flex: 1;
  padding-left: 10px;
}

.card-details__title {
  font-size: x-large;
  color: navy;
}

.card-details__buy-button {
  text-align: center;
  background-color: gold;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  height: 80px;
  border: none;
  border-radius: 6px;
}

.expand-btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 8px 16px;
  color: navy;
  border: none;
  cursor: pointer;
}

.expanded {
  margin-bottom: 150px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-top: none;
  padding-left: 10px;
}
