.trip-card {
  grid-column: 2;
  background-color: white;
  width: 95%;
  margin-top: 2%;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.trip-card__trip-image {
  grid-column: 1;
}

.trip-card__trip-details {
  grid-column: 2;
  padding-left: 3%;
}

.trip-details__hotel-name {
  color: navy;
  font-size: 24px;
  font-weight: 400;
}

.trip-details__hotel-button {
  color: navy;
  font-weight: bold;
  border: none;
  background-color: gold;
  width: 90%;
  text-align: center;
  border-radius: 5px;
}

.trip-image__image {
  height: 100%;
  width: 100%;
}
